
.article-page {
    background-color: $grey;
    color: $black;
}
.article {
    padding: 32px 0 54px;
    &__item {
        margin-bottom: 26px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        margin-bottom: 26px;
        @include subtitle;
        text-align: center;
        font-weight: normal;
    }
    &__subtitle {
        margin-bottom: 22px;
        @include bigger-text;
        font-weight: normal;
    }
    &__text {
        margin-bottom: 16px;
        @include standart-text;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (min-width: $tablet-width) {
    .article {
        max-width: 780px;
        margin: 0 auto;
        &__title {
            @include title;
        }
        &__subtitle {
            @include subtitle;
        }
        &__text {
            @include bigger-text;
        }
    }
}

@media (min-width: $tablet-big-width) {
    .article {
        padding: 50px 0 54px;
        &__item {
            margin-bottom: 35px;
        }
        &__title {
            margin-bottom: 35px;
            @include big-title;
        }
        &__subtitle {
            margin-bottom: 25px;
        }
        &__text {
            margin-bottom: 14px;
        }
    }
}