.blog {
    padding: 36px 0 50px;
    background-color: $grey;
    &__title {
        margin-bottom: 42px;
        color: $blue;
        &::before {
            background-color: $blue;
        }
    }
}

.blog-item {
    margin-bottom: 26px;
    background-color: $blue;
    &:last-child {
        margin-bottom: 0;
    }
    &__img {
        display: block;
        filter: grayscale(1);
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        &:hover {
            filter: grayscale(0);
            transition: .6s;
        }
    }
    &__info {
        padding: 30px 20px;
    }
    &__title {
        margin-bottom: 16px;
        font-weight: normal;
        @include standart-text;
    }
    &__text {
        margin-bottom: 16px;
        @include small-text;
    }
    &__button {
        padding: 8px 18px;
        width: 126px;
        @include small-text;
    }
}

@media (min-width: $tablet-width) {
    .blog-item {
        display: grid;
        grid-template-columns: 40% 60%;
        margin-bottom: 30px;
        &__img {
            img {
                height: 100%;
                object-fit: cover;
            }
        }
        &__button {
            margin: 0 auto;
            margin-right: 0;
        }
    }
}

@media (min-width: $tablet-big-width) {
    .blog-item {
        margin-bottom: 34px;
        &__info {
            padding: 40px 50px;
        }
        &__title {
            margin-bottom: 20px;
            @include title;
        }
        &__text {
            margin-bottom: 25px;
            @include standart-text;
        }
        &__button {
            padding: 10px 30px;
            width: 200px;
            @include standart-text;
        }
    }
}

@media (min-width: $desktop-width) {
    .blog-item {
        grid-template-columns: 36% 64%;
    }
}
