.contacts {
    padding: 44px 0 60px;
    &__title {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 24px;
        &::before {
            background-color: $light;
        }
    }
}

.contacts-item {
    margin-bottom: 24px;
    text-align: center;
    &:last-child {
        margin-bottom: 0;
    }
    &__title {
        margin-bottom: 15px;
        font-weight: normal;
        @include bigger-text;
    }
    &__text,
    &__link {
        max-width: 280px;
        margin: 0 auto;
        font-size: 15px;
    }
}

@media (min-width: $tablet-width) {
    .contacts {
        background-image: url(../images/map@1x.png);
        background-repeat: no-repeat;
        background-size: contain;
        &__inner {
            width: 400px;
            padding: 30px;
            background-color: $blue;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            border-radius: 15px;
        }
        &__title {
            left: 0;
            transform: translateX(0);
        }
    }
    .contacts-item {
        text-align: left;
        &__text {
            margin: 0;
        }
    }
    @include retina {
        .contacts {
            background-image: url(../images/map@2x.png);
        }
    }
}

@media (min-width: $tablet-big-width) {
    .contacts {
        background-size: cover;
        &__title {
            margin-bottom: 30px;
        }
        &__inner {
            width: 480px;
        }
    }
    .contacts-item {
        &__title {
            margin-bottom: 10px;
            @include subtitle;
        }
        &__text,
        &__link {
            max-width: 300px;
            @include standart-text;
        }
    }
}

@media (min-width: $desktop-width) {
    .contacts {
        position: relative;
        min-height: 584px;
    }
    .contacts__inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 44px 30px 62px;
    }
}
