@font-face {
    font-family: "Gill Sans";
    font-style: normal;
    src: url(../fonts/GillSans.woff2),
    url(../fonts/GillSans.woff);
}

@font-face {
    font-family: "Gill Sans";
    font-weight: 100;
    src: url(../fonts/GillSans-Light.woff2),
    url(../fonts/GillSans-Light.woff);
}