@font-face {
    font-family: "";
    font-style: normal;
    src: url(../fonts/FiraSans-Regular.woff2),
    url(../fonts/FiraSans-Regular.woff);
}

@font-face {
    font-family: "";
    font-weight: 100;
    src: url(../fonts/FiraSans-Thin.woff2),
    url(../fonts/FiraSans-Thin.woff);
}