.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $light;
  background-color: $black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $light;
  text-decoration: none;
}

ul,h1,h2,h3,h4,h5,h6,p {
  @include reset-style;
}

.container {
  padding: 0 20px;
}

.button {
  display: block;
  text-align: center;
  border-radius: 20px;
  &--blue {
    padding: 11px 18px;
    font-size: 16px;
    line-height: 18px;
    color: $light;
    background-color: $blue;
  }
  &--transparent {
    padding: 10px 18px;
    border: 1px solid $light;
  }
}

.title {
  position: relative;
  @include reset-style;
  padding-left: 60px;
  @include subtitle;
  font-weight: normal;
  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 42px;
    height: 2px;
    border-radius: 7px;
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $tablet-big-width) {
  .button {
    display: block;
    text-align: center;
    border-radius: 30px;
    &--blue {
      padding: 15px 18px;
      font-size: 22px;
      line-height: 25px;
    }
  }
  .title {
    padding-left: 124px;
    @include title;
    &:before {
      width: 100px;
      height: 3px;
    }
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0px;
  }
}
