.main-header {
    padding: 30px 0 48px;
    &__top {
        position: relative;
        margin-bottom: 40px;
    }
    &__img-wrapper {
        margin-bottom: 40px;
        text-align: center;
    }
    &__title {
        @include reset-style;
        margin-bottom: 12px;
        text-align: center;
        font-size: calc(17px + 16 * ((100vw - 320px) / (1280 - 320)));
        line-height: 125%;
        white-space: pre-line;
        font-weight: normal;
    }
    &__text {
        @include reset-style;
        margin-bottom: 20px;
        text-align: center;
        white-space: pre-line;
        font-size: calc(13px + 16 * ((100vw - 320px) / (1280 - 320)));
        line-height: 125%;
    }
    &__button {
        margin: 0 auto;
        width: 220px;
    }
}

.logo {
    &__title {
        @include reset-style;
        @include subtitle;
        font-weight: normal;
    }
    &__subtitle {
        @include subtitle;
        font-weight: normal;
    }
}

@media (min-width: $tablet-width) {
    .main-header {
        &__top {
            margin-bottom: 60px;
        }
        &__inner {
            display: flex;
            align-items: center;
        }
        &__img-wrapper {
            margin-bottom: 0;
            order: 2;
        }
        &__img {
            width: 100%;
            height: auto;
        }
        &__content {
            width: 100%;
        }
        &__title {
            text-align: left;
            @include subtitle;
        }
        &__text {
            text-align: left;
            @include bigger-text;
        }
        &__button {
            margin: 0;
        }
    }
}

@media (min-width: $tablet-big-width) {
    .main-header {
        padding: 30px 0 150px;
        background-image: url(../images/header-bg@1x.png);
        background-repeat: no-repeat;
        background-size: cover;
        &__top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
        }
        &__content {
            width: 75%;
        }
        &__title {
            margin-bottom: 20px;
            font-size: 34px;
            line-height: 39px;
        }
        &__text {
            margin-bottom: 34px;
            font-size: 22px;
            line-height: 25px;
        }
        &__button {
            width: 300px;
        }
    }

    .logo {
        &__title {
            @include title;
        }
        &__subtitle {
            @include title;
        }
    }
}

@media (min-width: $desktop-width) {
    .main-header {
        padding-bottom: 194px;
        &__top {
            margin-bottom: 120px;
        }
        &__content {
            position: relative;
            padding-left: 200px;
        }
        &__title {
            &:before {
                position: absolute;
                content: "";
                top: 60px;
                left: 0;
                width: 140px;
                height: 3px;
                background-color: $light;
                border-radius: 6px;
            }
        }
    }
}
