.inner-header {
    padding: 13px 0;
    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 6.25%;
        align-items: center;
    }
    .logo {
        display: none;
    }
    &__link {
        padding: 11px 10px;
        font-size: 12px;
        line-height: 100%;
    }
    &__button {
        border: none;
        padding: 12px 8px;
        font-size: 12px;
        line-height: 100%;
        cursor: pointer;
    }
}

@media (min-width: $tablet-width) {
    .inner-header {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 0%;
        }
        .logo {
            display: block;
        }
        &__link {
            justify-self: center;
            padding: 11px 18px;
            width: 140px;
            font-size: 14px;
        }
        &__button {
            justify-self: end;
            padding: 12px 18px;
            width: 180px;
            font-size: 14px;
        }
    }
}

@media (min-width: $tablet-big-width) {
    .inner-header {
        padding: 16px 0;
        &__link {
            padding: 15px 18px;
            width: 210px;
            font-size: 16px;
        }
        &__button {
            padding: 16px 18px;
            width: 280px;
            font-size: 16px;
            line-height: 100%;
        }
    }  
}