.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    background-color: $blue;
    z-index: 10;
    border-radius: 15px;
    &__form {
        padding: 56px 25px 36px;
        background-color: transparent;
        border-radius: unset;
    }
    &__close {
        font-size: 0;
        position: absolute;
        top: 12px;
        right: 18px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        &::before,
        &::after {
            position: absolute;
            content: "";
            top: 20px;
            right: -3px;
            width: 25px;
            height: 2px;
            background-color: $light;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}

.modal-form {
    &__button {
        margin: 0 auto;
    }
    &__input {
        margin-bottom: 12px;
    }
    &__textarea {
        margin-bottom: 18px;
    }
}

.modal-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-show,
.overlay-show {
    display: block;
}

@media (min-width: $tablet-width) {
    .modal {
        width: 414px;
        &__close {
            display: none;
        }
    }
    .modal-form {
        padding: 40px;
        &__text {
            margin-bottom: 30px;
            @include standart-text;
            text-align: center;
        }
    }
}

@media (min-width: 900px) {
    .modal-form__button {
        position: unset;
    }
}