@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: 1.5dppx),
    only screen and (min-resolution: 144dpi) {
        @content;
    }
}

@mixin reset-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

$tablet-width: 768px;
$tablet-big-width: 1024px;
$desktop-width: 1280px;

$black: #2D2D2E;
$blue: #2B3C44;
$light: #FFFFF3;
$grey: #F1F1F1;

@mixin small-text {
    font-size: 13px;
    line-height: 15px;
}

@mixin standart-text {
    font-size: 16px;
    line-height: 18px;
}

@mixin bigger-text {
    font-size: 19px;
    line-height: 22px;
}

@mixin subtitle {
    font-size: 23px;
    line-height: 26px;
}

@mixin title {
    font-size: 28px;
    line-height: 110%;
}

@mixin big-title {
    font-size: 34px;
    line-height: 39px;
}